body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  margin-top: 0px;
}

h2.total-names {
  text-align: center;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.name-input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

ul.name-list {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

button.add-button,
button.delete-all-button,
button.delete-button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.add-button {
  border: 1px solid black;
  background-color: #fff;
  color: #4caf50;
  margin-right: 10px;
}

button.add-button:hover {
  background-color: #4caf50;
  color: #fff;
}
.error{
  color: red;
}

button.delete-all-button {
  background-color: #f44336;
  color: #fff;
}
a{
  color: black;
  text-decoration: none;
}

button.delete-all-button:hover {
  background-color: #d32f2f;
}

button.delete-button {
  color: #f44336;
  border: 1px solid black;
  background-color: transparent;
  transition: color 0.3s ease;
}

button.delete-button:hover {
  color: #d32f2f;
}

p.no-names-message {
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  color: #777;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  button.add-button,
  button.delete-all-button {
    margin-right: 0;
    margin-top: 10px;
    width: 100%;
  }
}
